<div class="overflow-x-auto relative mt-5">
   <h2 class="text-4xl font-bold mb-3">Your Cart:</h2>
   <table class="w-full text-sm text-left text-gray-500">
   <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
         <th scope="col" class="py-3 px-6">Quantity</th>
         <th scope="col" class="py-3 px-6">Product</th>
         <th scope="col" class="py-3 px-6">Price</th>
         <th scope="col" class="py-3 px-6">Subtotal</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngIf="cart.lines.length == 0" class="bg-white border-b  ">
         <td colspan="4" class="py-4 px-6">
            Your cart is empty
         </td>
      </tr>
      <tr *ngFor="let line of cart.lines" class="bg-white border-b ">
         <td class="py-4 px-6">
            <input type="number"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   style="width:4em"
                   [value]="line.quantity"
                   (change)="cart.updateQuantity(line.product,$event)"
                   />
         </td>
         <td class="py-4 px-6">{{line.product.title}}</td>
         <td class="py-4 px-6">
             {{line.product.price | currency:"EUR":true:"2.2-2"}}
         </td>
         <td class="py-4 px-6">
             {{(line.lineTotal) | currency:"EUR":true:"2.2-2" }}
         </td>
         <td class="py-4 px-6">
            <button  class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    (click)="cart.removeLine(line.product.id)">
                     Remove
            </button>
         </td>
      </tr>
   </tbody>
   <tfoot>
      <tr class="bg-white border-b ">
         <td class="py-4 px-6"><span class="text-3xl text-gray-900 ">Total:</span></td>
         <td class="py-4 px-6">
            <span class="text-3xl text-gray-900 ">{{cart.cartPrice | currency:"EUR":true:"2.2-2"}}</span>
         </td>
      </tr>
   </tfoot>
   </table>
</div>
<div class="grid grid-cols-6 mt-5">
   <div class="col-start-1 col-end-3">
      <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 " 
              routerLink="/store">Continue Shopping
      </button>
   </div>
   <div class="col-end-7 col-span-2">
      <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 " 
            routerLink="/checkout"
           [disabled]="cart.lines.length == 0">
           Checkout
      </button>
   </div>
   
   
</div>
