<div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 mb-5">
   <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
       <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
           <div class="mb-4 lg:mb-6 not-format">
               <address class="flex items-center mb-6 not-italic">
                   <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                       <img class="mr-4 w-16 h-16 rounded-full" src="../../../assets/admin.png" alt="KSS">
                       <div>
                           <p class="text-xl font-bold text-gray-900 dark:text-white">Korobko SS</p>
                           <p class="text-base font-light text-gray-500 dark:text-gray-400">Angular developer</p>
                           <p class="text-base font-light text-gray-500 dark:text-gray-400"><time>{{setDate()}}</time></p>
                       </div>
                   </div>
               </address>
               <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Best practices for successful ...</h1>
           </div>
           <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repellendus, dolorem reiciendis accusamus labore explicabo delectus, rem cupiditate ex vero impedit sint possimus asperiores dignissimos veritatis! Explicabo fugiat quae velit!</p>                                           
       </article>
   </div>
 </div>