<div>
    <h1 class="text-3xl font-sans text-center">Admin Panel:</h1>
</div>
<div>   
    <label class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white" for="file_input">Upload file to DB</label>
    <input 
        class="block w-1/4 text-sm text-zinc-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" 
        aria-describedby="file_input_help" 
        id="file_input" 
        type="file" 
        (change)="onFileChange($event)">
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
    <button
        class="text-white bg-zinc-900 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        (click)="upload()">
        Upload
    </button>
    <div class="fixed flex justify-center w-screen animate__animated animate__bounceIn" *ngIf="show_message">
        <app-toast [message]="text_message"></app-toast>
    </div>
</div>
<hr>
<div class="mb-4 border-b border-gray-200 mt-5">
   <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
       <li class="mr-2">
           <button [ngClass]="'inline-block p-4 rounded-t-lg border-b-2 ' + getClasses_1()"     
           type="button"                       
           (click)="change_status()">Products</button>
       </li>
       <li class="mr-2" >
           <button [ngClass]="'inline-block p-4 rounded-t-lg border-b-2 ' + getClasses_2()" 
           type="button" 
           (click)="change_status()">Orders</button>
       </li>
   </ul>
</div>
<div>
   <div class="p-4 mb-10 bg-gray-50 rounded-lg dark:bg-gray-800"
        *ngIf="products_field">
            <app-goods></app-goods>  
   </div>
   <div class="p-4 mb-10 bg-gray-50 rounded-lg dark:bg-gray-800" 
        *ngIf="orders_field">
            <app-orders></app-orders>
   </div>   
</div>
