<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
   <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
       <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
           <tr>
               <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                    Order number
               </th>
               <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                   Customer Name
               </th>
               <th scope="col" class="py-3 px-6">
                   Phone
               </th>
               <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                   Category
               </th>
               <th scope="col" class="py-3 px-6">
                   Goods
               </th>
               <th scope="col" class="py-3 px-6">
                   Total
            </th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let item of orders; index as i" class="border-b border-gray-200 dark:border-gray-700">
               <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                   {{item.order_num}}
               </th>
               <td class="py-4 px-6">
                   {{item.name}}
               </td>
               <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                   {{item.phone}}
               </td>
               <td class="py-4 px-6">
                   {{item.post_data}}
               </td>
               <td class="py-4 px-6">
                   {{item.goods}}
               </td>
               <td class="py-4 px-6">
                   {{item.amount}}
               </td>
           </tr>           
       </tbody>
   </table>
</div>

