<div *ngIf="orderSent" class="flex-auto">
  <h2>Thanks!</h2>
  <p>{{str_1}}</p>
  <p>{{str_2}}</p>
  <button
    [ngClass]="button_classes"
    routerLink="/"
  >
    Return to Store
  </button>
</div>


<section *ngIf="!orderSent">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 @appearance class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
      New Oreder Details:
    </h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

        <div @appearance class="sm:col-span-2">
          <ul>
            <li *ngFor="let item of cart.lines; index as i">
              <span>{{ cart.lines[i].product.title }}</span
              ><br />
              <span>Units: {{ cart.lines[i].quantity }} - </span>
              <span>{{ cart.lines[i].lineTotal }} USD</span>
            </li>
          </ul>
          <hr />
          <span class="font-semibold mt-1">Total: {{ cart.cartPrice }}</span>
        </div>
        <div class="sm:col-span-2">
          <label
            for="name"
            [ngClass]="label_classes"
            >Name</label
          >
          <input
            name="name"
            type="text"
            formControlName = "name"
            placeholder="Thomas Patrick Iggan"
            [ngClass]="select_classes"
            required
          />
        </div>
        <div class="w-full">
          <label
            for="brand"
            [ngClass]="label_classes"
            >Phone</label
          >
          <input
            type="text"
            name="phone"
            formControlName = "phone"          
            [ngClass]="select_classes"
            placeholder="+38(0XX)XXX-XX-XX"
            required
          />
        </div>
        <div class="w-full">
          <label
            for="category"
            [ngClass]="label_classes"
            >Delivery method</label
          >
          <select
            id="category"
            formControlName = "state"
            [ngClass]="select_classes"
          >  
            <option *ngFor="let state of delivery" [ngValue]="state">{{state}}</option>
          </select>
        </div>       
      </div>
      <button
        *ngIf="!new_post && !payment_method"
        [ngClass]="button_classes"
        routerLink="/cart"
      >
      Back to cart
      </button>
      <button
        *ngIf="!new_post && !payment_method"
        type="submit"
        [ngClass]="button_classes"
      >
        Continue
      </button>
    </form>


    <form *ngIf="new_post" [formGroup]="formCity" (ngSubmit)="onSubmitCity()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2" >
          <label
            @appearance            
            [ngClass]="label_classes"
            >Choose city</label
          >
          <select            
            formControlName = "city"
            [ngClass]="select_classes + select_classes_anim_left"
          >  
            <option *ngFor="let state of delivery_data.cities" [ngValue]="state">{{state}}</option>
          </select>
        </div>      
      </div>
    <button
      *ngIf="!city_chosen"
      [ngClass]="button_classes"
      routerLink="/cart"
    >
    Back to cart
    </button>
    <button
    *ngIf="!city_chosen"
      type="submit"
      [ngClass]="button_classes"
    >
      Continue
    </button>


    </form>
    <form *ngIf="city_chosen" [formGroup]="formPost" (ngSubmit)="onSubmitPost()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            @appearance            
            [ngClass]="label_classes"
            >Choose endpoint</label
          >
          <select            
            formControlName = "endpoint"
            [ngClass]="select_classes + select_classes_anim_left"
          >  
            <option *ngFor="let state of delivery_data.endpoints" [ngValue]="state">{{state}}</option>
          </select>
        </div>
      </div>
    <button
      *ngIf="!endpoint_choosen"
      [ngClass]="button_classes"
      routerLink="/cart"
    >
    Back to cart
    </button>
    <button
    *ngIf="!endpoint_choosen"
      type="submit"
      [ngClass]="button_classes"
    >
      Continue
    </button>
    </form>


    <form *ngIf="payment_method" [formGroup]="formPayment" (ngSubmit)="onSubmitCreateOrder()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            @appearance            
            [ngClass]="label_classes"
            >Choose payment method</label
          >
          <select            
            formControlName = "payment"
            [ngClass]="select_classes + select_classes_anim_left"
          >  
            <option *ngFor="let state of payment_type" [ngValue]="state">{{state}}</option>
            <option *ngIf="new_post" [ngValue]="payment_type_post">{{payment_type_post}}</option>
          </select>
        </div>
      </div>
    <button
      [ngClass]="button_classes"
      routerLink="/cart"
    >
      Back to cart
    </button>
    <button
      type="submit"
      [ngClass]="button_classes"
    >
      Create order
    </button>
    </form>
  </div>
</section>
